const char* wsHost = "app.yourdomain.com"; // WebSocket server IP address or domain name
const uint16_t wsPort = 80; // WebSocket server port
const char* wsAccessToken = "/ws/?t=aBc123$!*"; // WebSocket url & access token params

const unsigned int firmwareVersion = 1;
const char* fwUrlBase = "http://yourdomain.com/path"; // Firmware check/update URL

// const char* postURL = "http://yourdomain.com/path"; // HTTP Post url (if not using WebSocket)

// Prime Numbers between 0-255
// 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251
const unsigned char encryptionKey[3] = {47,7,191}; // Prime number XOR encryption key (choose up to 255 key values, each being number (preferably prime) between 0-255)
